# Python
__pycache__/
*.py[cod]
*$py.class

# Distributions
build/
*.egg-info/
.dist/

# Virtual environments
venv/
.env/

# IDE / Editor
.vscode/
.idea/
*.swp

# Sensitive files (never commit)
*.env
